body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    background-color: var(--background-color-wite);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}