.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 93px;
}

.navigation__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  &:hover,
  &:focus {
    color: var(--black-color);
  }
}

.navigation__logo--color-black {
  color: var(--black-color);
  transition: color var(--animation);
  .navigation__logo:hover &,
  .navigation__logo:focus & {
    color: var(--accent-color);
  }
}

.navigation__menu {
  display: flex;
  gap: 50px;
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color var(--animation);
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-background-color);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform var(--animation);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
  &.current {
    color: var(--accent-color);
  }
  &.current::after {
    transform: scaleX(1);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contacts {
  display: flex;
  gap: 30px;
}

.contacts__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--animation);
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-background-color);
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform var(--animation);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
}
