.team {
  padding: 94px 0;
  background-color: var(--team-background-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-wite);
}

.team__img {
  margin-bottom: 30px;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.tean__color-link {
  background-color: var(--background-color-wite);
  color: var(--icon-color);
  transition: background-color var(--animation), color var(--animation);
  &:hover,
  &:focus {
    background-color: var(--accent-background-color);
    color: var(--background-color-wite);
  }
}