.pictures {
  padding-bottom: 94px;
}

.pictures__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

.pictures__list {
  display: flex;
  gap: 30px;
}

.pictures__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.pictures__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
